* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.box {
    position: relative;
    width: 1000px;
    height: 30px;
    line-height: 30px;
    background-color: #990000;
    margin: 20px auto;
    overflow: hidden;
}

.box ul {
    position: absolute;
    left: 0;
    top: #fff;
}

.box ul li {
    float: left;
    margin-right: 15px;
    color: #fff;
}